body{
    font-family: Arial, Helvetica, sans-serif;
}
.graphiques{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
}

.chartpourcentage{
    grid-column: 1/2;
    grid-row: 1/2;
}

.chartph{
    grid-column: 1/2;
    grid-row: 2/3;
}

.description{
    grid-column: 2/3;
    grid-row: 1/4;
    padding-top: 10%;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

p{
    font-family: 'Inter', sans-serif;
}