* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

.effra {
    font-family: "Effra", sans-serif;
    text-transform: uppercase;
}

div.float-wrapper {
    position: relative;
    height: 40vw;
    text-align: baseline;
    justify-content: baseline;
    border: 1px solid transparent;
}




@-moz-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}




.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

div#ocean .arrow h1 {
    color: #2d72b6;
    padding-top: 12%;
    font-size: 9vw;
    font-family: "Effra", sans-serif;
    margin: auto;
    padding-left: 3%;
    z-index: 1;
}

div#ocean h2 {
    font-weight: 100;
    color: #ffffff;
    font-size: 2vw;
    letter-spacing: 20px;
    position: relative;
    text-align: baseline;
    justify-content: baseline;
    margin: auto;
    padding-left: 5%;
    padding-top: 55px;
    width: 100%;
    z-index: 3;

}


.vague {
    overflow: hidden;
    position: absolute;
    z-index: 1;
    filter: url(#blur);
    -webkit-filter: blur(30px);
}

canvas {
    display: block;
    position: absolute;
    overflow: hidden;
    top: 40%;
    /* ici */
    width: 100%;
    z-index: 1;
}