* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;


}

#nuage {
    background: linear-gradient(0deg, #e7eac1 2%, #9de0fe 100%);
    height: 1000px;
}


.effra {
    font-family: "Effra", sans-serif;
    text-transform: uppercase;
}

.vague {
    position: absolute;
    top: 40%;
    left: 0%;
    
}





@-moz-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}




.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

div#ocean .arrow h1 {
    color: #2d72b6;
    padding-top: 10%;
    font-size: 9vw;
    font-family: "Effra", sans-serif;
    margin: auto;
    padding-left: 3%;
    z-index: 1;
}

div#ocean h2 {
    font-weight: 100;
    color: #ffffff;
    font-size: 2vw;
    letter-spacing: 20px;
    position: relative;
    text-align: baseline;
    justify-content: baseline;
    margin: auto;
    padding-left: 5%;
    padding-top: 55px;
    width: 100%;
    z-index: 3;

}

.container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    top: 140%;

}

.resumer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    z-index: 3;
    margin: 0;
    padding-top: 10px;
}

.resumer h2 {
    color: white;
    font-family: "Effra", sans-serif;
    font-size: 2vw;
    font-weight: 400;
    padding: 50px;

}

.resumer p {
    margin-bottom: 20px;
    font-family: "Effra", sans-serif;

}

.resumer .cta {
    color: #ffffff;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
    background: #2d72b6;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    z-index: 10;
    padding: 15px;
}

/* Styles pour le premier graphique */
#chartjs1 {
    width: 80%;
    height: 60vh;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px; /* Ajout d'une marge entre les deux graphiques */
    
}

#yearSlider1 {
    width: 80%;
    margin-top: 10px;
    background-color: #3498db;
    border: none;
    height: 5px;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.3s;
}

#yearSlider1::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid #3498db;
    cursor: pointer;
}

#yearSlider1::-webkit-slider-thumb:hover {
    background-color: #2980b9;
}

/* Styles pour le deuxième graphique */
#chartjs2 {
    width: 80%;
    height: 60vh;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px; /* Ajout d'une marge entre les deux graphiques */
}

#yearSlider2 {
    width: 80%;
    margin-top: 10px;
    background-color: #e74c3c; /* Nouvelle couleur pour le slider du deuxième graphique */
    border: none;
    height: 5px;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.3s;
}

#yearSlider2::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid #e74c3c; /* Nouvelle couleur pour le thumb du deuxième graphique */
    cursor: pointer;
}

#yearSlider2::-webkit-slider-thumb:hover {
    background-color: #c0392b; /* Nouvelle couleur hover pour le thumb du deuxième graphique */
}

/* Overlay et Modal pour chaque graphique */
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.modal {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 999;
}




/*////////////////*/

.scroll-downs {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 60%;
    left: 50%;
    margin: 0;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 34px;
    height: 55px;
    z-index: 1;
}

.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 3px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}

.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }

    10% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}

/*////////////////*/

/*curseur*/
.cursor {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: var(--width);
    height: var(--height);
    transform: translate(calc(var(--x) - var(--width) / 2), calc(var(--y) - var(--height) / 2));
    transition-duration: 125ms;
    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    transition-property: width, height, transform;
    transition: 100ms width cubic-bezier(0.39, 0.575, 0.565, 1),
        150ms height cubic-bezier(0.39, 0.575, 0.565, 1),
        100ms transform cubic-bezier(0.39, 0.575, 0.565, 1);
    z-index: 30000;
    pointer-events: none;
    will-change: transform;
}

@media (pointer: fine) {
    .cursor {
        display: block;
    }
}

.cursor::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--radius);
    border: 2px solid #ffffff;
    opacity: var(--scale);
    -webkit-transform: scale(var(--scale));
    transform: scale(var(--scale));


}


html:not(html:hover) .cursor::after {
    opacity: 0;
    transform: scale(0);
}